<head>
    <title>Proyecto-carbono</title>
</head>
<body>
    <header>
        <button onclick="calcular()" class="btn">Calcular</button>
        {% if user.is_authenticated %}
            <div>
                {{ user.username }}
                <a href="{% url 'logout' %}" class="btn">Cerrar sesión</a>
            </div>
        {% else %}
            <a href="{% url 'register' %}" class="btn">Registrarse</a>
        {% endif %}
    </header>

    <main>
        <h1>Bienvenido</h1>
        <p>Informacion</p>
        <div id="mensaje"></div>
    </main>

    <script>
        function calcular() {
            const auth = {{ user.is_authenticated|yesno:"true,false" }};
            if (auth) {
                window.open("{% url 'preguntas' %}", "_blank");
            } else {
                document.getElementById("mensaje").textContent = "Debes iniciar sesión primero.";
            }
        }
    </script>
</body>
</html>
